.main-container {
	margin-top: 51px;
.hy-desc{
	.hy-logo-wrapper{
		display: inline-block;
		float: none;
		.hy-logo{
			width:100%;
			height:140px;
		}
		
	}
}					

	.hy-all-benefits{
				text-align: left ;
		.hy-benefit{
			float: none;
			display: inline-block;
			min-width: 320px;
			margin-top: 70px;
			.benefit-circle {
				display: table-cell;
				margin: 0 auto;
				border-radius: 50%;
				background-color:#c0c0c0;
				width: 52px;
				height: 52px;
			}
			.benefit-desc{
				vertical-align: middle;
				display: table-cell;
				font-family: Roboto;
				color:rgba(0, 0, 0, 0.54);
				font-size: 20px;
				font-weight: 300;
				text-align: left;
			}
		}
	}

	.sign-up-wrapper{
		.sign-up-heading{
			span{
				font-family: Roboto;
				color:rgba(0, 0, 0, 0.87);
				font-size: 24px;
				font-weight: 300;
				text-align: left;
			}
		}

		.sign-up-linkedin-wrapper{
			a {
				text-align: center;
				display: block;
				border-radius: 3px;
				border-width: 1px;
				border-color:#cfd8dc;
				font-family: Roboto;
				font-size: 23px;
				font-weight: 400;
				}
		}
		.separating-or{
				text-align: center;
				margin: 20px 0px;
				span{
					font-family: Roboto;
					color:rgba(0, 0, 0, 0.87);
					font-size: 22px;
					font-weight: 300;
			}
		}

		.sign-up-manual{
			.sign-up-input{
				border-radius: 3px;
				border-width: 1px;
				border-color:#cfd8dc;
				border-style: solid;
				font-size: 20px;
				width: 100%;
				height: 54px;
			}
			.sign-up-submit{
				padding: 20px 50px;
				display: table-cell;
				border-radius: 3px;
				border-width: 1px;
				border-color:#cfd8dc;
				border-style: solid;
				background-color:#309f4c;
				span{
					font-family: Roboto;
					color:#ffffff;
					font-size: 24px;
					font-weight: 400;
					text-align: left;
				}
			}
		}
	
	.already-a-member{
		margin-top: 60px;
		.default-grey{
		font-family: Roboto;
		color:#818181;
		font-size: 20px; 
		font-weight: 400;
		text-align: left;	
		}
		.default-blue{
			font-family: Roboto;
			color:#008be7;
			font-size: 20px;
			font-weight: 400;
			text-align: left;
		}
	}

	}
}

.default-footer {
		margin-top: 40px;
	.footer-border {
		background-color:#e7e7e7;
		height: 2px;
	}

	.footer-links {
		margin-top: 20px;
		float:left;
		width:100%;
		ul {
			margin:0px;
			height: 50px;
		   float:left;
		   list-style:none;
		   position:relative;
		   left:50%;
		   text-align:center;
			li {
				margin-left: 15px;
				display:block;
			   	float:left;
			   	list-style:none;
			   	position:relative;
			   	right:50%;
				a {
				display: block;
				font-family: Roboto;
				color:rgba(0, 0, 0, 0.87);
				font-size: 16px; 
				font-weight: 300;
				}
		 	}
		}
	}
}
