<script type="text/templates" id="login_base">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row main-container">
    	
        <div class="large-6  columns hy-desc small-only-text-center medium-only-text-center">
    	   <div class="hy-logo-wrapper">
                <img src="assets/images/hy-logo.svg" class="hy-logo"/>
            </div>
            <div class="hy-all-benefits hide-for-small-only hide-for-medium-only">
                <div class="hy-benefit">
                       <div class="benefit-circle"></div>
                        <span class="benefit-desc">Instant Talent Search.</span>
                </div>
                <div class="hy-benefit">
                    <div class="benefit-circle"></div>
                    <span class="benefit-desc">Comprihensive Statistics. </span>
                </div>
                <div class="hy-benefit">
                    <div class="benefit-circle"></div>
                    <span class="benefit-desc">Intelligent Recommendations.</span>
                </div>                    
            </div>
        </div>
    	
        <div class="large-5 columns sign-up-wrapper">
    	   
           <div class="sign-up-heading">
                <span>SIGN UP</span>
            </div>
            
            <div class="sign-up-linkedin-wrapper">
                    <a class="button expand"><i class="fa fa-linkedin"></i> Sign up with LinkedIn</a>
            </div>
            
            <div class="separating-or">
                <span>OR</span>
            </div>

            <div class="sign-up-manual">
                <form data-abide id="sign-up-manual">
                        <input type="text" class="sign-up-input" id="sign-up-name" placeholder="Name" required/>
                    <input type="email" class="sign-up-input" id="sign-up-email" placeholder="Email" required/>
                    <input type="password" class="sign-up-input" id="sign-up-password" placeholder="Password" required/>
                        <button type="submit" class="sign-up-submit">Sign Up</button>
                </form>
            </div>

            <div class="already-a-member">
            <span class="default-grey">Already a member?  </span><span class="default-blue">Sign In</span>
            </div>
        </div>
    </div>

    <div Class="default-footer">
        <div class="footer-border"></div>
        <div class="footer-links">
            <ul>
                <li><a href="#">© 2105 HyreNow</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</script>