<script type="text/templates" id="login_base">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row main-container">
    	
        <div class="large-6  columns hy-desc small-only-text-center medium-only-text-center">
    	   <div class="hy-logo-wrapper">
                <img src="../assets/images/hy-logo.svg" class="hy-logo-middle"/>
            </div>
            
        </div>
    	
        <div class="large-5 columns login-wrapper">
    	   
           <div class="login-heading">
                <span>SIGN In</span>
            </div>
            

            <div class="login-manual">
                <form data-abide id="login-manual">
                    <input type="email" class="hynow-input" id="login-email" placeholder="Email" required/>
                    <input type="password" class="hynow-input" id="login-password" placeholder="Password" required/>
                        <button type="submit" class="success large"><span>Sign In</span></button>
                </form>
            </div>

            <div class="already-a-member">
            <span class="default-grey">Not a member?  </span><span><a href="signup" class="default-blue" data-backbone>Sign Up</a></span>
            </div>
        </div>
    </div>

    <div class="default-footer">
        <div class="footer-border"></div>
        <div class="footer-links">
            <ul>
                <li><a href="#">© 2105 HyreNow</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</script>