<script type="text/templates" id="login_base">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div class="row main-container">
    	
        <div class="large-6 columns hy-desc">
    	   <div class="hy-logo-wrapper">
                <span class="hy-logo">HyreNow</span>
                <span class="hy-tagline">The Hyring Market Place</span>
            </div>
            <div class="hy-all-benefits">
                <div class="hy-benefit">
                       <div class="benefit-circle"></div>
                        <span class="benefit-desc">Get a job within a week!</span>
                </div>
                <div class="hy-benefit">
                    <div class="benefit-circle"></div>
                    <span class="benefit-desc">Get a job within a week!</span>
                </div>
                <div class="hy-benefit">
                    <div class="benefit-circle"></div>
                    <span class="benefit-desc">Get a job within a week!</span>
                </div>                    
            </div>
        </div>
    	
        <div class="large-6 columns sign-up-wrapper">
    	   
           <div class="sign-up-heading">
                <span>SIGN UP</span>
            </div>
            
            <div class="sign-up-linkedin-wrapper">
                    <a class="button expand"><i class="fa fa-linkedin"></i> Sign up with LinkedIn</a>
            </div>
            
            <div class="separating-or">
                <span>OR</span>
            </div>
    	
            <div class="sign-up-manual">
                <input type="text" class="sign-up-input" placeholder="Name"/>
                <input type="text" class="sign-up-input" placeholder="Email"/>
                <input type="text" class="sign-up-input" placeholder="Password"/>
                
                <span class="radio-btn-heading">I am ..</span>
                <input type="radio" name="user_type" value="candidate"> <span class="user-type">Looking for a job</span>
                <input type="radio" name="user_type" value="company" class="user-type"> <span class="user-type">Offering jobs </span>

                <div class="sign-up-submit">
                    <span>Sign Up</span>
                </div>

            </div>

            <div class="already-a-member">
            <span class="default-grey">Already a member?  </span><span class="default-blue">Sign In</span>
            </div>
        </div>
    </div>

    <div Class="default-footer">
        <div class="footer-border"></div>
        <div class="footer-links">
            <ul>
                <li><a href="#">© 2105 HyreNow</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</script>