<script type="text/templates" id="default_header">
<div class="header">	
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><img src="../assets/images/hy_logo_small.svg" class="hy-logo-middle"/></a></h1>
    </li>
    <li class="hy-logo-wrapper">
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
      <a href="#">
      	<div class = "notification">
      		<i class="fa fa-bell-o hy-bell"></i>
      	</div>
      	</a>
      </li>
       <li>
      <a href="#">
      	<div class = "profile-icon">
      		<img src="../user_resources/ksh.jpg" />
      	</div>
      	</a>
      </li>
      <li class="has-dropdown">
        <a href="#">Gone Girl</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

</nav>
      <!-- <div class="hy-logo-wrapper">
            <img src="../assets/images/hy_logo_small.svg" class="hy-logo-middle"/>
        </div>
        <div class = "notification">
            <i class="fa fa-bell-o hy-bell"></i>
        </div>
        <div class = "profile-icon">
            <img src="../user_resources/ksh.jpg" />
        </div>
        <div class = "profile-name">
        	<span> Gone Girl </span>
        	<span class="down-arrow"> <i class="fa fa-angle-down"></i></span>
        </div>-->
</div>
</script>